<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sobre mi </title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <nav class="navbar">
        <a href="/">Inicio</a>
        <a href="/sobremi">Sobre mi</a>
        <a href="/proyectos">Proyectos</a>
        <a href="/contacto">Contactame</a>
    </nav>


    <section id="me" class="section">
        <h1>Sobre mí</h1>
        <p>Bienvenido, soy Rosalba y aquí te mostraré un poco sobre mí</p>
    
        <div class="container">
            <div class="Datos-p">
                <h3>Datos personales</h3>
                <p>Nombre completo: Rosalba Pérez Pérez</p>
                <p>Cumpleaños: 09-Abril</p>
                <p>Teléfono: 3002268124</p>
                <p>Nacionalidad: Colombiana</p>
                <p>Nací en Cartagena y he vivido aquí desde siempre ;)</p>
            </div>
    
            <div class="Datos-i" id="container-d">
                <div class="container-datos-i">
                    <h3 class="interes-tittle">Mis intereses</h3>
                    <div class="interests-container">
                        <div class="interes-box">
                            <p>Deporte:</p>
                            <div class="interes-text">Me gustar jugar voleibol, pero soy mala jugando. Me gusta jugar Futbol pero también soy mala :)</div>
                        </div>
                        <div class="interes-box">
                            <p>Arte:</p>
                            <div class="interes-text">Disfruto dibujar en digital y pintar con acuarelas, puede que sea muy buena.</div>
                        </div>
                        <div class="interes-box">
                            <p>Música:</p>
                            <div class="interes-text">Me gusta el hip hop, escucho rock, trap argentino, pop y reggaeton. Mi artista favorito es Wos </div>
                        </div>
                        <div class="interes-box">
                            <p>Libros:</p>
                            <div class="interes-text">Mi libro favorito es '... alguno de dante'. Mi saga favorita de fantasia es 'El asesino de reyes'</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Datos-randoms">
                <h3>Datos al azar sobre mí</h3>
                <p>Soy fan de las papitas fritas, son mi comida favorita.</p>
                <p>Me gusta el café. Juan Valdez > Starbucks.</p>
                <p>No me gustan las cosas dulces.</p>
                <p>Me gusta el color negro y las cosas muy cuquis.</p>
                <p>Suelo hacer compras compulsivas cada tanto.</p>
            </div>
        </div>
    </section>
</body>
</html>