<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">
    <link id="Stylesheet" rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <nav class="navbar">
        <a href="/">Inicio</a>
        <a href="/sobremi">Sobre mi</a>
        <a href="/proyectos">Proyectos</a>
        <a href="/contacto">Contactame</a>
    </nav>

    <section id="inicio" class="section">
        <div class="inicio-container">
            <img src="/images/me.jpg" alt="Usuario" class="inicio-image">
            <div class="inicio-text">
                <h2 class="typing-effect">Hola, soy Rosalba Pérez.</h2>
                <br>
                <p>Soy estudiante de programación, se algo de diseño y este <br>
                    portafolio es una pequeña parte de mi esencia. Te invito<br>
                    a que revises los otros apartados te esta página. c:<br>
                    
                </p>
                <br>
                <div class="me-icons">
                    <a href="https://www.instagram.com/ross_bob09/" target="_blank">
                        <i class="ri-instagram-line"></i>
                    </a>
                    <a href="https://github.com/Rosalba-Perez" target="_blank">
                        <i class="ri-github-fill"></i>
                    </a>
                    <a href="https://w.app/RosalbaPerez" target="_blank">
                        <i class="ri-whatsapp-line"></i>
                    </a>            
                </div>
            </div>
        </div>
    </section>

</body>
</html>