<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos</title>
    <link id="Stylesheet" rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar">
        <a href="/">Inicio</a>
        <a href="/sobremi">Sobre mi</a>
        <a href="/proyectos">Proyectos</a>
        <a href="/contacto">Contactame</a>
    </nav>

    <section id="proyectos" class="section">
        <h1>Proyectos</h1>
        <p>Aquí puedes ver algunos de mis proyectos.</p>
    
        <div class="galeria">
            <div class="tarjetaGaleria">
                <img src="/images/proyecto1.jpg" alt="Proyecto 1">
                <div class="descripcion">
                    <h2>Re:lib</h2>
                    <p>Un proyecto desarrollado en java, como un aplicativo de escritorio
                        que cuenta con un menu crud, con una interface intuitiva.
                    </p>
                </div>
            </div>
    
            <div class="tarjetaGaleria">
                <img src="/images/proyecto2.jpg" alt="Proyecto 2">
                <div class="descripcion">
                    <h2>Shopp.y</h2>
                    <p>Un sistema de venta como aplicativo de escritorio, desarrollado en java con
                        una interface intuitiva que permite agregar a un proveedor, productos y
                        clientes, cada apartado con un menu crud, funcional.
                    </p>
                </div>
            </div>
    
            <div class="tarjetaGaleria">
                <img src="/images/proyecto3.jpg" alt="Proyecto 3">
                <div class="descripcion">
                    <h2>Proyecto 3</h2>
                    <p>Descripción del Proyecto</p>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>